<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>department table</h1>
        <table>
            <tr>
                <th>dept_no</th>
                <th>dname</th>
                <th>dloc</th>
            </tr>
            {% for i in department %}
            <tr>
                <td></td>
            </tr>
        </table>
    </center>
    
</body>
</html>